@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&family=Roboto+Slab:wght@400;800&display=swap');
/*font-family: 'Lobster', cursive;*/
/*font-family: 'Roboto', sans-serif;*/
/*font-family: 'Roboto Slab', serif;*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue-ocean: #39B0FF;
    --green: #39FFA0;
}
/*Scroll da página*/
/* Para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--blue-ocean) #fff;
}
/* Para Chrome, Edge e Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: #fff;
}
*::-webkit-scrollbar-thumb {
    background-color: var(--blue-ocean);
    border-radius: 15px;
}
.container{
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
.navHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 25px -5px rgba(196, 196, 196, 0.3);
}
.logo{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.logo span{
    font-family: 'Lobster', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: calc(70vh - 50px);
    top: 0;
    left: 0;
}
/*Index*/
.mainIndex{
    gap: 3em;
}
.texto_home{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 800;
    font-size: 3em;
    text-align: center;
    color: #000000;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    width: 50%;
}
.texto_home span{
    color: var(--blue-ocean);
}
.btn{
    background: var(--blue-ocean);
    color: #fff;
    border: none;
    border-radius: 50px;
    width: 10em;
    height: 1.7em;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: #fff;
}
footer{
    overflow-y: hidden;
    height: 30vh;
    width: 100%;
}
@media only screen and (max-width: 768px){
    .texto_home{
        width: 100%;
    }
    .waves{
    height: 60vh;
    width: 100%;
    }
}
/*Login*/
.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
#email, #senha{
    background: none;
    width: 30vw;
    height: 4em;
    border: solid var(--blue-ocean) 1px;
    border-radius: 10px;
    color: var(--blue-ocean);
    font-family: 'Roboto', sans-serif;
    padding: 5px 10px;
}
#email:focus, #senha:focus{
    outline-color: var(--blue-ocean);
}
.esqueceu{
    color: var(--blue-ocean);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
.linha{
    width: 100%;
}
.green{
    background: var(--green);
}
@media only screen and (max-width: 768px){
    #email, #senha{
        width: 70vw;
    }
}
/*Locais*/
.mainMap{
    height: 100%;
}
.textoMap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.map{
    width: 100vw;
    height: 100vh;
}
@media only screen and (min-width: 768px){
    .textoMap h1{
        font-size: 4em;
    }
}
/*Admin*/
.mainAdmin{
    height: 100%;
}
.textoAdmin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vh;
}
td{
    border:1px solid #000;
    width:1px;
    white-space:nowrap;
}

td input {
    width: 100%;
    box-sizing: border-box;
}